.year1{
    display: block;
    position: relative;
}
.year1::after{
    max-width: 4px;
    height: 20px;
    background: #8b8993;
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    left:12px;
   
   

}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.colo-bg{
    background-color: var(--color-background-blue);
}

:root {
    --color-background-blue: #0047Af;
    --color-text-blue: #eff3f8;
    --color-grey-nav2-text: #010101;
    --color-black: black;
    --color-white: #ffff;
    --color-grey-button: #bcbcbc;
    --color-yellow: #fecc4e;
    --color-cardHeading: #181818;
    --color-body-text: #212529;
    --color-background: #F1F1F1;

    --font-family: 'PT Sans', sans-serif;

    --size-12px: 0.75rem;
    --size-13px: 0.8125rem;
    --size-14px: 0.875rem;
    --size-15px: 0.9375rem;
    --size-paragraph: 1rem;
    --size-sub-heading: 1.125rem;
    /*18px*/
    --size-20px: 1.25rem;
    /*20px*/
    --size-cardHeading1: 1.5rem;
    /*24px*/
    --size-cardHeading2: 1.5625rem;
    /*25px*/
    --size-30px: 1.875rem;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    max-width: 100%;
    /* height: 5rem; */
}

.navbar-top {
    max-width: 100%;
    background-color: #0047Af;
}

.nav-content {
    max-width: 78.5rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
}
 .logo-img{
    height: 8.125rem;
 }
.navList {
    display: flex;
    justify-content: space-around;
    width: 52%;
    margin-left: 15%;
    gap: 1rem;
}

.blogHyperLink {
    display: flex;
    margin-left: -60px;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.nav-content a {
    font-size: var(--size-13px);
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    
}

.blogHyperLink a {
    font-size: 11px;
}

.vertical-line {
    background-color: black;
    color: black;
    width: 0.95px;
    margin: 0 12px;
    height: 14px;
    border: none;
}

.patient a,
.user-content a {
    font-weight: bold;
    /* color: var(--color-background-blue); */
}

.user-content .profile {
    font-weight: bold;
    font-size: 1rem;
}

.user-content .arrow {
    font-weight: bold;
    font-size: 0.8rem;
}

.user-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.navList a:hover{
   text-decoration: underline;
   color: var(--color-background-blue);
   font-weight: bold;
}
.patient a {
    text-decoration: underline;
}
.navbar-bottom {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 6px rgb(193, 191, 191);

}

.navbar-bottom-content {
    display: flex;
    width: 85rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 50px;
    padding: 10px 0 18px;
}

.left {
    display: flex;
    width: 45%;
    gap: 10%;
    align-items: center;
}

.right {
    display: flex;
    align-items: end;
    width: 55%;
    margin: -12px;
    gap: 10px;
}

.location {
    display: flex;
    gap: 8px;
    margin-left: 5px;
}

.left a {
    text-decoration: none;
    font-size: var(--size-13px);
    color: var(--color-grey-nav2-text);
    white-space: nowrap;
}


.city-name {
    font-size: 11px;
    margin-top: -10px;
}

.search-location input {
    width: 100px;
    outline: none;
    border: none;
    border-bottom: 1.7px solid #448ac0;
    background-color: #f5f5f5;
    padding: 10px 5px;
    border-radius: 5px;
}

.search-location ::placeholder {
    font-size: 10px;
}

.location .icon {
    font-size: 26px;
    color: var(--color-background-blue);
}

.search-test input {
    border: none;
    width: 100%;
    padding: 10px 5px;
    outline: none;
    background-color: transparent;

}

.search-test form {
    display: flex;
    padding-right: 8px;
    align-items: center;
    width: 270px;
    outline: none;
    border: none;
    border-bottom: 1.7px solid #448ac0;
    border-radius: 5px;
    background-color: white;
}

.search-test form i {
    font-size: var(--size-20px);
    color: #448ac0;
}

.cart img {
    height: 28px;
    margin: 0 50px 0 10px;
}

.search-test ::placeholder {
    font-size: var(--size-12px);
}

.menu,
.call {
    display: none;
}

/* added section css */
.lab-testAtHome,
.popular-test {
    width: 100%;
    background-color: var(--color-background);
    padding: 20px 0;
}

.lab-test-container,
.popular-test-container {
    max-width: 1500px;
    margin: auto;
    width: 87%;
    background-color: var(--color-white);
    border-radius: 15px;

}

.location-list,
.popular-test-list {
    display: flex;
    gap: 7px;
    margin-top: 20px;
    flex-wrap: wrap;
    line-height: 25px;
}

.lab-test-content,
.popular-test-content {
    padding: 15px 15px 100px;

}

.lab-test-content h1,
.popular-test-content h6 {
    font-size: var(--size-cardHeading2);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: var(--color-cardHeading);
}

.location-list a,
.popular-test-list a {

    color: var(--color-black);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.location-list a:hover,
.popular-test-list a:hover {
    color: var(--color-background-blue);
    text-decoration: underline;
}
/* end  */

@media screen and (max-width:1260px) {
    .navbar-bottom-content {
        gap: 10px;
    }

    .left {
        gap: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width:1000px) {
    .navbar-top {
        display: none;
    }

    .left {
        display: none;
    }

    .right {
        flex-direction: column;
        align-items: start;
        margin: 0;
        flex-grow: 1;

    }

    .cart {
        position: absolute;
        left: 87%;

    }

    .cart img {
        margin: 0;
    }

    .navbar-bottom {
        position: relative;
        height: 160px;
        padding: 0 30px;
    }

    .navbar-bottom-content img {
        transform: scale(1.1);
        flex-grow: 1;

    }

    .navbar-bottom-content {
        width: 50rem;
        margin: 0 auto;
        align-items: start;
        gap: 30px;
    }

    .search-test {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        max-width: 90vw;
        position: absolute;
        top: 110px;
        left: 30px;
        align-items: center;
        gap: 50px;
    }

    .search-test form {
        flex-grow: 0.5;
        min-width: 50%;
    }

    .menu,
    .call {
        display: contents;
    }

    .location {
        margin-top: 20px;
    }

    .city-name {
        font-size: 14px;
        margin-top: -10px;
    }

    
}

@media screen and (max-width:420px) {
    .location {
        margin-left: -50px;
    }

    .navbar-bottom-content img {
        transform: scale(0.8);
    }

    .navbar-bottom {
        padding: 0 10px;
    }
}

.year1 span a::before{
    position: absolute;
  display: block;
  content: "";
  background: url(https://uat-cdn.drlallab.com/images/our-journey-icon1.png) 50%/contain;
  width: 35px;
  height: 46px;
  bottom: 25px;
  /* left: 32px; */
  visibility: collapse;
}
/* footer part  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --color-background-blue: #0047Af;
  --color-text-blue: #0b51b3;
  --color-grey-nav2-text: #010101;
  --color-black: black;
  --color-white: #ffff;
  --color-grey-button: #bcbcbc;
  --color-yellow: #fecc4e;
  --color-cardHeading: #181818;
  --color-body-text: #212529;
  --color-background: #F1F1F1;
  --font-family: 'PT Sans', sans-serif;
  --size-12px: 0.75rem;
  --size-13px: 0.8125rem;
  --size-14px: 0.875rem;
  --size-15px: 0.9375rem;
  --size-paragraph: 1rem;
  --size-sub-heading: 1.125rem;
  --size-20px: 1.25rem;
  --size-cardHeading1: 1.5rem;
  --size-cardHeading2: 1.5625rem;
  --size-30px: 1.875rem;
}
.footer-section{
    width: 100%;
    
}

.footer-top{
    width: 100%;
    background-color: rgb(254,204,78);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT sans';
    padding: 50px;
}
.footer-links{
    display: flex;
    width:100%;
    max-width:1280px;
    justify-content: space-around;
}
.link_col{
    display: flex;
    flex-direction: column;
}
.link_col h2{
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 600;
}
.links{
    display: flex;
    flex-direction: column;

}
.links a{
    text-decoration: none;
    color:black;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
    text-transform: capitalize;
}
.footer-bottom{
    width: 100%;
    background-color: #0047Af;
    display: flex;
    justify-content: center;
    padding:50px;
    font-family: 'PT sans';
   
}
.footer-bottom .copyright{
 max-width: 1280px;
 color:white;
 display: flex;
 gap:8px;
 align-items: center;


}
a{
    text-decoration: none;
    color:white;
}
.follow_us{
    color:white;
    display: flex;
    flex-direction:column;
    gap:10px;
    margin:10px;
    text-transform: capitalize;
}
.social_icons{
    display: flex;
    gap:4px;

}

.footer_icons{
    height:2rem;
    width: 2rem;
    background-color: #fecc4e;
    color:#0b51b3;
    border-radius: 50%;
    padding:10px;
   
}

@media screen and (max-width:980px) {
    .footer-bottom .copyright{
        flex-direction: column;
    }
    .footer-links{
        visibility:hidden;
        height:50px;
        overflow: hidden;
    }
    .footer-top{
        padding: 0%;
    }

    
}

@media screen and (max-width:700px){
    .footer-top{
        visibility: hidden;
        overflow:hidden;
        height:80px;
        position: absolute;
    }
}

/* welcome user  */

.Account-user{
    display: flex;
    flex-direction: column;
    padding:8px;
    color:black;
    font-size: 1rem;
    border: 1px solid #fcc740;
}
.account-image{
    background-color: #0047Af;
    color:white;
    border-radius: 50%;
    padding:5px;
}

.drop-down{
    background-color: white;
    color:black;
    position: absolute;
    z-index:30;
    visibility: collapse;

}
.acc-head{
    margin-bottom: 10px;
}

.welcome-guest{
    font-weight: 400;
}
.drop-down .my-order a, .my-permission a, .wallet-balance a{
    display: flex;
    justify-content:flex-start;
    padding:8px;
    border:1px solid white;
    color:black;
    font-size: 1rem;
    font-weight: 400;
}

/* scoll bar code  */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-text-blue); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-blue); 
  }


  /* lets chat code  */
  .lets-chat{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #2DACF0;
    color: var(--color-white);
    float: right;
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 6px 10px 0 #2DACF0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.lets-chat:hover{
    bottom: 1.2rem;
    transition: all 0.3s ease-in-out;
}

/* FIXED SIDE_ELEMENT */
.side-element a{
    
   
    text-decoration: none;
    color: var(--color-black);
    
} 
.side-element a p{
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 5px;
}
.side-element{
    position: fixed;
    top: 180px;
    right: 0;
    background-color: var(--color-white);
    width: 65px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    text-align: center;
    padding: 5px 0;
}
.side-element a:nth-child(4) p{
    border-bottom: none;
}
.side-element a img{
     padding-left: 1rem;
    transition: 0.2s ease-in-out;
}
.side-element a img:hover{
    transform: scale(1.2);
}

@media screen and (max-width:768px){
    .side-element{
        display: flex;
        width:100%;
        position:fixed;
        top:auto;
        bottom: 0%;
        
        justify-content: space-between;
        align-items: center;
        height: min-content;

    }
    .side-element a p{
        border-bottom: none;
       
    }
.side-element a{
    border-right:1px solid rgba(0, 0, 0, .1);
}

}


/* onclick side bar  */
.menu-container{
    display: flex;
    flex-direction: column;
    background-color:var(--color-white);
    width: 80%;
    display: block;
    cursor: pointer;
    position: fixed;
    left: -160%;
    top: 0px;
    box-shadow: 220px 0 0px rgba(0, 0, 0, .8);
    /* visibility: hidden; */
    transition: 0.1s ease-in;
    z-index: 200;
    height: 100vh;
    
  
}
#checkbox{
    /* visibility: hidden; */
    display: none;
}
 input{
    &:checked + label + .menu-container {
        left: 0;
    } 

    &:checked + label {
        left: 150px;
        top: 20px;
        z-index: 100;
    }
}
.menu-content a{
    text-decoration: none;
    color: var(--color-black);
    margin: 20px 0;
}
.menu-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-content div :nth-child(1){
    display: flex;
    gap: 20px;
}
.down-arrow img, .close{
    margin-right: 20px;
}
.user>div:nth-child(1) span{
 color: var(--color-text-blue);
 font-weight: bold;
}
.menu-container>div:not(:nth-child(1)){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.menu-content div a img{
    width: 20px;
}
.close i{
    background-color: var(--color-body-text);
    padding: 5px;
    border-radius: 50%;
    color: var(--color-white);
}
.download-app a span>img{
    margin: 0;
}
.download-app a span:nth-child(2){
    display: flex;
}
.download-app div a{
    margin-left: 20px;
}
.download-app span:nth-child(2) img{
    margin: 0 5px;
}
.patient-list ul{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 60px;
    list-style: none;
    width: 200px;
    line-height: 25px;
}
.patient-container{
    width: 100%;
}
.patient-arrow div .down-arrow{
    flex-grow: 1;
}
.patient-arrow div .down-arrow img{
    height: 15px;
    width: 10px;
    margin-left: 95%;
}
.menu a:hover{
    text-decoration: underline;
}

/* /////<-- Let's Chat -->////// */

.lets-chat {
    z-index: 20;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #2dacf0;
    color: var(--color-white);
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 6px 10px 0 #2dacf0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.lets-chat:hover {
    bottom: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.chat-form {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 39rem;
    width: 24.25rem;
    background-color: var(--color-white);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 15px -5px;
    padding: 0 0 1rem 0.3rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.chat-form .helpline img {
    width: 3rem;
    height: 1.5rem;
}

.helpline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-background);
    padding: 0.5rem;
}

.helpline-details span {
    font-size: 0.9rem;
}

.helpline-details p {
    font-size: 0.8rem;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;
}

.privacy {
    font-size: 0.7rem;
    align-self: center;
    color: var(--color-grey-button);
}

.privacy a {
    color: var(--color-grey-button);
    text-decoration: underline;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message .time {
    align-self: center;
    font-size: 0.6rem;
    width: 25%;
    text-align: center;
    border-radius: 1rem;
    border: 0.5px solid var(--color-grey-button);
    color: var(--color-grey-button);
}

.message .welcome-text {
    width: 85%;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: 0.2px solid var(--color-grey-button);
}

.text-box {
    width: 100%;
    justify-self: flex-end;
}

.chat-menu {
    color: var(--color-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.chat-menu:active {
    color: #2dacf0;
}

.text-box input {
    width: 98%;
    border-radius: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    outline: none;
    border: 2px solid #2dacf0;
    background-color: #b5daee;
}

.text-box input:focus {
    background-color: transparent;
}

.haptik {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-grey-button);
}

.haptik span {
    font-weight: 700;
}

input[type="checkbox"].hide-input:not(:checked)+.chat-form {
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.3s ease-in-out;
}
@media screen  and (max-width:1000px){
    .j-menu,.call{
        display: contents;
    }
}




